*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
keystore.properties
/.claude/
.kotlin/
dump.xml
home.png

# Local Netlify folder
.netlify
